{# Managed by Ansible (roles/alerting). #}
[Unit]
Description=Report failure of %I

[Service]
Type=oneshot
EnvironmentFile=/etc/pihole-alerting/env
# %I is the unescaped name of the unit that failed (passed via OnFailure=%n).
ExecStart=/usr/local/bin/notify-failure.py %I
